[submodule "lib/restbed"]
	path = lib/restbed
	url = https://github.com/corvusoft/restbed.git
[submodule "lib/restinio"]
	path = lib/restinio
	url = https://github.com/stiffstream/restinio
[submodule "lib/CppServer"]
	path = lib/CppServer
	url = https://github.com/chronoxor/CppServer.git
