[submodule "server/external/kissfft"]
	path = server/external/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "server/external/BTrack"]
	path = server/external/BTrack
	url = git@github.com:oost/BTrack.git
