[Unit]
Description=Beat Server service
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/pi/beat-server
Type=simple
Restart=always
ExecStart=/home/pi/beat-server/server/beat_server -a 0.0.0.0 --root-dir /home/pi/beat-server/client/ --certs-dir /home/pi/beat-server/certs/ --start-http --start-udp

[Install]
WantedBy=multi-user.target
